div{
    display : flex;
    justify-content: center;
    align-items : center;
    padding : 0;
    margin-left : 1em;
}
ol{
    margin-top : 1em;
    padding-left : 0;
}
p{
    padding : 0;
    margin : 0;
}
li{
    margin-bottom : 0.2em;
    padding: 0;
    border : 1px solid rgb(192, 192, 192);
}
button{
    border-radius : 0;
}

#add{
    display : flex;
    gap : 0;
    padding : 0;
    justify-content : space-between;
    align-items : stretch;
}
#add input{
    border : none;
    border-radius : 0;
    border : 1px solid rgb(140, 140, 140);
    flex-basis : 60%;
    text-align : center;
}
#add button{
    flex-basis : 15%;
}
#add div{
    flex-basis : 25%;
    border : 1px solid rgb(140, 140, 140);
    border-right : none;
}