@page "/"

<PageTitle>Expense Tracker</PageTitle>

<h1>Hello!</h1>

Welcome to your personal Expense Tracker! You can use this app to see what are you
spending and what you are gaining in order to make better financial decisions!
