@page "/"

<PageTitle>Expense Tracker</PageTitle>

<h1>Welcome!</h1>

<p>Welcome to your personal expense tracker. You can use this app to see what are you
spending and what you are gaining in order to make better financial decisions!</p>
